@media (max-width: 980px) {
  .navbar-menu:not(.navbar-open) {
    display: none !important;
  }

  .navbar-menu.navbar-open {
    display: flex !important;
  }

  .navbar-mobile-button {
    display: block !important;
  }

  .navbar-enter-button {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}