
@media (max-width: 980px) {
  .navbar-menu {
    display: none !important;
  }

  .navbar-menu-open {
    display: flex !important;
  }

  .navbar-button {
    display: none !important;
  }

  .navbar-mobile-button {
    display: block !important;
  }
}